.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist
dist-user
dist-ssr
extension/manifest.json
node_modules
src/auto-imports.d.ts
src/components.d.ts
package-lock.json
pnpm-lock.yaml
*__test*
test.js